<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <span *ngIf="drill.id">Edit drill</span>
      <span *ngIf="!drill.id">New drill</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (submit)="save()" #f="ngForm">
    <ion-item>
      <ion-label>Name</ion-label>
      <ion-input
        name="name"
        select-all
        required
        autocapitalize="on"
        [(ngModel)]="drill.name"
        (ionChange)="setOptions()"
        debounce="300"
      ></ion-input>
      <ion-select
        name="selected-drill"
        [(ngModel)]="selectedDrill"
        (ionChange)="selectDrill()"
        interface="popover"
        style="display: none"
        #selectName
      >
        <ion-select-option *ngFor="let option of drillOptions" [value]="option">
          {{option.name}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Reps</ion-label>
      <ion-input
        name="reps"
        required
        [(ngModel)]="drill.reps"
        type="number"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Weight</ion-label>
      <ion-input
        name="weight"
        required
        [(ngModel)]="drill.weight"
        type="number"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Unit</ion-label>
      <ion-input name="unit" required [(ngModel)]="drill.unit"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Date</ion-label>
      <ion-datetime
        name="date"
        required
        [(ngModel)]="drill.date"
      ></ion-datetime>
    </ion-item>
  </form>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="save()" [disabled]="f.invalid">
      <ion-icon name="save"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
