<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>History</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="download()">
        <ion-icon name="download-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="confirmUpload()">
        <ion-icon name="cloud-upload-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-searchbar
    placeholder="Search..."
    (ionChange)="search()"
    [(ngModel)]="term"
  ></ion-searchbar>

  <ion-spinner *ngIf="loading" class="spin"></ion-spinner>

  <ion-list>
    <ion-item-sliding *ngFor="let drill of drills; trackBy: trackDrill">
      <ion-item-options side="start">
        <ion-item-option color="danger" (click)="remove(drill.id)">
          <ion-icon name="trash"></ion-icon>
          Delete
        </ion-item-option>
      </ion-item-options>

      <ion-item routerLink="/drill/{{drill.id}}" detail>
        <ion-avatar slot="end" *ngIf="isToday(drill.date)">
          <ion-icon name="today-outline"></ion-icon>
        </ion-avatar>
        <ion-label>
          <h2>{{drill.name}}</h2>
          <h3>{{drill.reps}} reps x {{drill.weight}} {{drill.unit}}</h3>
          <p>{{drill.date | date:settings.dateFormat}}</p>
        </ion-label>
      </ion-item>
    </ion-item-sliding>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button routerLink="/workout/{{favorite}}">
      <ion-icon name="options-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/drill/new">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
