<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Charts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Drill</ion-label>
    <ion-select
      name="drills"
      [(ngModel)]="drill"
      (ionChange)="createChart()"
      interface="popover"
    >
      <ion-select-option *ngFor="let drill of drillOptions" [value]="drill"
        >{{drill}}</ion-select-option
      >
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Granularity</ion-label>
    <ion-select
      name="granularity"
      [(ngModel)]="granularity"
      (ionChange)="createChart()"
      interface="popover"
    >
      <ion-select-option>All</ion-select-option>
      <ion-select-option value="year">Year</ion-select-option>
      <ion-select-option value="month">Month</ion-select-option>
      <ion-select-option value="week">Week</ion-select-option>
    </ion-select>
  </ion-item>
  <canvas id="myChart"></canvas>
</ion-content>
