<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>
      <span *ngIf="viewMode">View workout</span>
      <span *ngIf="!viewMode">Edit workout</span>
    </ion-title>

    <ion-buttons slot="end">
      <ion-button *ngIf="viewMode" (click)="viewMode = false">
        <ion-icon name="pencil-outline"></ion-icon>
      </ion-button>
      <ion-button *ngIf="!viewMode" (click)="viewMode = true">
        <ion-icon name="eye-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="viewMode && drillReports.length">
    <ion-list>
      <div *ngFor="let report of drillReports">
        <ion-item>{{report.name}} ({{report.sets}}/{{workout.sets}})</ion-item>

        <ion-progress-bar
          [value]="report.sets / workout.sets"
        ></ion-progress-bar>
      </div>
    </ion-list>
  </div>

  <div *ngIf="!viewMode">
    <form #f="ngForm">
      <ion-item>
        <ion-label>Name</ion-label>
        <ion-input
          autocapitalize="on"
          name="name"
          [(ngModel)]="workout.name"
          required
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Drills</ion-label>
        <ion-select
          required
          multiple
          name="drills"
          [(ngModel)]="workout.drills"
        >
          <ion-select-option *ngFor="let drill of drillOptions" [value]="drill"
            >{{drill}}</ion-select-option
          >
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Sets</ion-label>
        <ion-input
          name="sets"
          [(ngModel)]="workout.sets"
          required
          type="number"
        ></ion-input>
      </ion-item>
    </form>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="save()" [disabled]="f.invalid">
        <ion-icon name="save"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="toggleFavorite()">
      <ion-icon [name]="isFavorite ? 'star' : 'star-outline'"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
