<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Workouts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let workout of workouts; trackBy: trackWorkout">
      <ion-item-options side="start">
        <ion-item-option color="danger" (click)="remove(workout.id)">
          <ion-icon name="trash"></ion-icon>
          Delete
        </ion-item-option>
      </ion-item-options>

      <ion-item routerLink="/workout/{{workout.id}}" detail>
        <ion-label>
          <h2>{{workout.name}}</h2>
          <h3>{{workout.sets}} sets of each</h3>
          <p *ngFor="let drill of workout.drills.slice(0, 3); let i = index">
            - {{drill}}
            <span *ngIf="i === 2 && workout.drills.length > 3">...</span>
          </p>
        </ion-label>
      </ion-item>
    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/workout/new">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
